name: build_branch_on_pull_request.yml

on:
  pull_request:

jobs:
  build-test-push-image:
    name: Build and test image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.docker_image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Java (Temurin 21)
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: 'wrapper'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Run Gradle build
        shell: bash
        run: ./gradlew build
